{
  "acad": {
    "name": "Your Academic Name",
    "email": "academic@example.edu",
    "workspace": "academic"
  },
  "res": {
    "name": "Your Research Name",
    "email": "research@example.org",
    "workspace": "research"
  },
  "work": {
    "name": "Your Work Name",
    "email": "work@example.com",
    "workspace": "work"
  }
} 